# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# Other
*.DS_Store
*~
*.swp
venv/
main_horizon.pdf
budget_standalone.pdf
src/mock_data/
src/supervisor_checkpoint.pth
src/vae_checkpoint.pth
src/njde_checkpoint.pth
logs/

src/data_store/
*.ckpt
lightning_logs/
data/
checkpoints/
external_sources/
MOOSE/
verification_data/
src/bin/dcm2niix.zip
src/classifiers/best_model.pth
src/bin/dcm2niix
src/classifiers/__pycache__/dataset.cpython-312.pyc
src/classifiers/__pycache__/encoder.cpython-312.pyc
src/classifiers/__pycache__/encode_labels.cpython-312.pyc
src/classifiers/__pycache__/ordinal_loss.cpython-312.pyc
